.DescricaoCabeçalho {
    position:fixed;
    color: aliceblue;
    top: 350px;
    left: 115px;

    
    
    background-color: rgb(0, 0, 0);
}
#nomeSoftware{
    background-color: rgb(0, 0, 0);
    padding-bottom: 120px;
    padding-right: 80px;

}
#nomeWeb{
    background-color: rgb(0, 0, 0);
}
#nomeJava{
    background-color: black;
}
#icon_facebook{
position: absolute;
top: 170px;
left: 75px;
/* padding-right: 60px; */
background-color: black;
}
#Git_icon{
    position: absolute;
    top: 170px;
    left: 150px;
    padding: 0px;
    background-color: black;
}

#icon_linkedin{
    position: absolute;
    top: 170px;
    
    background-color: black;
}

@media (max-width:2000px){
    #Logo{
        display: none;
    }
}
@media (max-width:1300px){
 .DescricaoCabeçalho{
    left: 40px;
    top:270px;

}


}
@media(max-width:999px){
    .DescricaoCabeçalho{
        position: absolute;
        left: 200px;
        top: 10px;
        height: 200px;
        border-radius:50px ;
        padding: 50px;
        padding-left: 40px;
        padding-top: 400px;
        background-color: rgb(255, 255, 255);
        border: solid 1px black;
        width: 400px;
        z-index: 1;
        
    }
    #icon_linkedin,#icon_facebook,#Git_icon{
        position: absolute;
        border-radius: 40px;
        top: -230px;
        
        
    }
    #nomeSoftware,#nomeWeb,#nomeJava{
        background-color: white;
        border-radius: 50px;
        left: 20px;
    }

    #Logo{
        position: relative;
        display: block;
        top: -500px;
        border-radius: 100%;
        left: 80px;
    }
    
    
}
@media (max-width:800px){
    .DescricaoCabeçalho{
        left: 5px;
    }
   #icon_linkedin{
    position: absolute;
    left:95px;
   }
   #icon_facebook{
    position: absolute;
    left:250px;
   }
   #Git_icon{
    position: absolute;
    left: 170px;
   }
   #nomeSoftware,#nomeWeb,#nomeJava{
    position: absolute;
    left: 120px;
   }
    
}