#aprendizado{
    position: absolute;
    overflow:scroll;
    
    top: 120px;
    background-color: #ffffff;
    padding: 300px;
    padding-right: 700px;
    /* padding-bottom: 5000px; */
}
#nomeTecnologia{
    position: relative;
    left: 50px;
    top: -70px;
    color: rgb(120, 32, 32);
    
}
#IconEntity{
    position: absolute;
    width: 100px;
    height: 60px;
    left: 480px ;
    top: 110px;
}
#IconGit{
    position: absolute;
    width: 100px;
    height: 70px;
    left: 390px ;
    top: 180px;
}

    #GitNome{

         position:absolute;
         top: 2250px;
         left: 90px;
    
    }
    #gitPosition{
        position: absolute;
        top: 2300px;
        left: 40px;
        height: 350px;
    }
    #descriçaoGit{
        position: absolute;
        top: 2600px;
        left: 90px;
        width: 650px;
    }
    #TddNome{
        position: absolute;
        top: 2900px;
        left: 90px;

    }
    #descriçaoTdd{
        position: absolute;
        top: 3250px;
        left: 90px;
        width: 650px;
    }
#nomeIntegracao{
    position: relative;
    left: 50px;
    top: 570px;
    color: rgb(109, 29, 29);
}

#jenkinsIcons{
    position: absolute;
    top: 180px;
    left: 640px;
    width: 90px;
}
#iconNetcore{
    position: absolute;
    top: 180px;
    left: 185px;
    height: 50px;
    width: 90px;
}
#imgTdd{
position: absolute;
top: 2950px;
left: 90px;
}
#sqlIcon{
    position: absolute;
    top: 170px;
    left: 290px;
    width: 80px;
}

#ScrumNome{
    position: absolute;
    top:700px;
    left: 90px;
    color: black;

}
#descriçaoScrum,#descriçaoKanban,#descriçãoClean,#descriçaoGit,#descriçaoTdd{
    line-height: 30px;
    color: black;
}
#kanbanNome{
    position: absolute;
    top: 1250px;
    left: 90px;

}
#iconScharp{
    position: absolute;
    top: 180px;
    left: 90px;
}
#imgkanban{
    position: absolute;
    top: 1300px;
    left: -20px;
    height: 300px;
    
}
#descriçaoKanban{
    position: absolute;
    top: 1600px;
    left: 90px;
}
#nomecleanCode{
    position: absolute;
    top: 1850px;
    left: 90px;
}
#descriçãoClean{
    position: absolute;
    top: 1890px;
    left: 300px;
    width: 400px;
    font-size: 16px;
}
#imgclean{
    position: relative;
    top: 1800px;
    left: 90px;
}

#iconReact{
    background-color: #333333;
    position: absolute;
    top: 20px;
    left: 90px;
}
#conteudo{
    position: absolute;
    left: 40px;
    top: 290px;
    width: 700px;
    height: 250px;
    line-height: 150%;
    font-size: larger;
    font-size: 17;
    background-color: rgb(147, 62, 62);
    color: rgb(228, 228, 228);
    border: solid 1px rgb(0, 0, 0);
    border-radius: 35px;
    padding:35px;

}
 #conteudoReact,#conteudoHtml ,#conteudoCss ,#conteudoJs,#conteudoGulp,#conteudoBootstrap,#conteudoJquery,#conteudoWebpack,#conteudoNpm,#conteudoNode,
 #conteudoJava ,#conteudoMysql,#conteudoUml,#conteudoScharp,#conteudoNetCore,#conteudoSql,#conteudoGit,#conteudoEntity,#conteudoJenkins{
    display: none;
}



#iconHtml{
    background-color: #333333;
    position: absolute;
    top: 20px;
    left: 200px;
}
        #iconCss{
            background-color: #333333;
            position: absolute;
            top: 20px;
            left: 300px;
        }


        #iconJs{
            background-color: #333333;
            position: absolute;
            top: 20px;
            left: 400px;
            border-radius: 17px;
        }
        #iconGulp{
            background-color: #333333;
            position: absolute;
            top: 20px;
            left: 500px;
            border-radius: 17px;
        }
        #iconBootstrap{
            background-color: #333333;
            position: absolute;
            top: 20px;
            left: 600px;
            border-radius: 17px;
        }
        #iconJquery{
            background-color: #333333;
            position: absolute;
            top: 20px;
            left: 700px;
            border-radius: 17px;
            opacity: 95%;
            height: 60px;
        }
        #iconWebPack{
            background-color: #333333;
            position: absolute;
            top: 110px;
            left: 90px;
            border-radius:12px;
            opacity: 95%;
        }
        #iconNpm{

            background-color: #333333;
            position: absolute;
            top: 110px;
            left: 200px;
            opacity: 95%;
            height: 45px;

        }
        #iconNode{
            background-color: #333333;
            position: absolute;
            top: 110px;
            left: 300px;
            opacity: 95%;
            height: 45px;
        }
        #iconJava{
            background-color: #333333;
            position: absolute;
            top: 110px;
            left: 400px;
            
            opacity: 95%;
            height: 50px;
        }

        #iconMysql{
            background-color: #333333;
            position: absolute;
            top: 180px;
            left: 510px;
            
            opacity: 95%;
            height: 50px;
        }
        #iconUml{
            background-color: #333333;
            position: absolute;
            top: 110px;
            left: 600px;
            
            opacity: 95%;
            height: 60px;
        }

        #icons{
            position: absolute;
            left: 10px;
            top: 80px;
            height: 4000px;

        }
        
        @media (max-width:1400px){
            #aprendizado{
                position: absolute;
                left: -65px;
            }
            #conteudo{
                width: 600px;
            }
        }
        @media(max-width:1200px){
            #conteudo{
                font-size:14px;
                left: -20px;
                top: 250px;
                width: 500px;
            }
            #iconBootstrap{
                position: absolute;
                left: 10px;
            }
            #iconUml{
                position: absolute;
                top: 180px;
                left: 5px;
            }
            #iconJquery{
                position: absolute;
                width: 40px;
                left: 10px;
                top: 100px;
            }

            
  
    }
    @media(max-width:1250px){
        #aprendizado{

        left: -100px;
        }
    }
    

        @media(max-width:800px){
            #aprendizado{
                position: absolute;
                left: -100px;
                width: 180px;
                padding-right: 0px;
           }
           #conteudoTeorico{
            position: absolute;
            top: 800px;
           }
           #nomeIntegracao{
            position: absolute;
            top: 10px;
            font-size: 20px;
            width: 300px;
            left: 100px;
           }
           #ScrumNome{
            position: absolute;
            top: 100px ;
            left: 40px;
          font-size:16px ;

           }
           #kanbanNome{
            position: absolute;
            top:600px ;
            left: 50px;
            width: 300px;
           }
           #imgkanban{
            width:450px ;
            top: 650px;
           }
           #descriçaoKanban{
            position: absolute;
            top: 900px;
            width: 400px;
            left: 50px;
           }
            #nomecleanCode
        {
            position: absolute;
            top: 1250px;
            left: 50px;
            width: 300px;
            font-size: 20px;


        }
        #imgclean{
            position: absolute;
            top: 1300px;
            left: 50px;
            width: 250px;
        }
        #descriçãoClean{
            top:1700px ;
            left: 40px;
        }
           #sizeScrumimg{
            height: 150px;
           }
           #nomeTecnologia{
            font-size: 20px;
            width: 400px;
            left: 18px;
        }

        #GitNome{
            top:2100px ;
            font-size: 22px;
            width: 400px;
            left: 20px;
        }
        #gitPosition{
            width: 350px;
            height: 200px;
            top: 2200px;
        }
        #descriçaoGit{
            top: 2400px;
            left: 50px;
            width: 380px;
        }
        #TddNome{
            width: 300px;
            left: 50px;
            font-size: 22px;
            }
            #imgTdd{
                width: 400px;
                left: 50px;
            }

        #conteudo{
            position: absolute;
            top: 400px;

        }
        #descriçaoTdd{
            font-size: 16px;
            top: 3200px;
            left: 50px;
            width: 380px;
        }
        #iconScharp{
            position: absolute;
            top: 190px;
            left: 400px;
        }
        #iconNetcore{
            position: absolute;
            left: 20px;
            top: 260px;
            width: 100px;
        }
      #IconGit{
        position: absolute;
        position: absolute;
        top: 260px;
        left: 290px;
      }

      #jenkinsIcons{
        position: absolute;
        left: 160px;
        top: 250px;
      }
      #IconEntity{
        position: absolute;
        left: 20px;
        top: 330px;
      }

      #iconMysql{
        position: absolute;
        left: 400px;
        top: 260px;
        
      }

            #icons{
                width: 200px;
                
            }
            #conteudo{
                width: 350px;
                left: 10px;
            }
            #iconGulp{
                top: 175px;
                left: 200px;
            }
        
           #iconReact,#iconHtml,#iconCss,#iconJs,#iconGulp,#iconBootstrap,#iconJquery,#iconWebPack,#iconNpm,#iconNode
           ,#iconJava,#iconMysql{
            width: 50px;
           }
           #iconUml{
            width: 100px;
            left: 20px;
           }

        }

      