#projetos {
    overflow-y:scroll;
    position: absolute;
    top: 110px;
    background-color: #ffffff;
    padding: 310px;
    padding-right: 700px;

}
#nome{
    position: absolute;
    top: 70px;
    left: 35%;
   padding: 2%;
   color: rgb(255, 255, 255);
   font-size:25pt;
    border-radius: 30PX;
    border: solid 1px rgb(255, 255, 255);
    background-color:rgb(182 , 0 ,0);    
}

    #area__FrontEnd{
    position: absolute;
    left: 20px;
    font-size: larger;
    top: 230px;
    padding-right:78% ;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    opacity: 80%;
    border-radius: 30px;
    border: solid 4px rgb(168, 28, 28);
    background-color: #ffffff;
    color: black;
}
#setaBaixo{
    position: absolute;
    left: 92%;
    top: 1px;
    
}
#abrir{
    position: absolute;
    top: 10px;
    left: 855px;
    background-color: black;
    padding: 6px;
    z-index: 8;
    
}
.conteudoFrontEnd{
    position: absolute;
    left: 0px;
    top:150px;
    /* padding: 300px;  */
     /* padding-right: 580px;  */
    padding-bottom:5000px ;
background-color:#ffffff;
display: none;
/* border-radius: 35px; */


}

#setacima{

    position: fixed;
    left: 93%;
    top: 650px;
    padding: 4px;
    background-color: #333333;
    display: none;
    border: solid 3px white;
    border-radius: 10px;
    
}

#fecharConteudoFrontEnd{
    z-index: 1;
}

#cadastro{
    position: absolute;
left: 35%;
top: 25px;
padding: 6px;
border: solid 2px black;
font-size: larger;

}
#conteudoCadastro{
    position: absolute;
    left: 30px;
    top: 130px;
    padding-right: 10px;
    padding-bottom: 795px;
    border: solid 2px rgb(0, 0, 0);
    /* background-color: aquamarine; */
}
#informaçoesCadastro{
    position: relative;

    width: 700px;
    height: 0px;
    font-size: larger;
    font-size: 20px;
    margin: 50px;
    line-height: 150%;
    top: 50px;
color:#333333;
}
#calculadora{
    position: absolute;
    left: 40%;
    top: 30px;
    padding: 6px;
    border: solid 2px black;
    font-size: larger;
 
}
#conteudoCalculadora{
    position: absolute;
    left: 30px;
    top: 1050px;
    padding-right: 10px;
    padding-bottom: 700px;
    border: solid 2px black;
    
}
#portifolio{
    position: absolute;
    left: 45%;
    top: 20px;
    padding: 6px;
    border: solid 2px black;
    font-size: larger;
}



#conteudoProjetoSistemaERP{
    position: absolute;
    left: 30px;
    top: 2800px;
    padding-right: 10px;
    padding-bottom: 750px;
    border: solid 2px black;

}

#nomeProjetoSistema{
    position: absolute;
    left: 40%;
    top: 30px;
    padding: 6px;
    border: solid 2px black;
    font-size: larger;   
}

#informaçoesProjetoSistema{
    position: relative;

    width: 700px;
    height: 0px;
    font-size: larger;
    font-size: 20px;
    margin: 50px;
    line-height: 150%;
    top: 30px;
color:#333333;
}
#iconsSistemaERP{
    position: absolute;
    top: 295px;
}
#imgSistemaPainel{
display: none;
}
#imgSistemaInicio{
    position: absolute;
    top: 380px;
    opacity: 90%;
    padding: 6px;
    border: solid 2px rgb(0, 0, 0);
}
#imgSistemaPainel{
    position: absolute;
    top: 380px;
    opacity: 90%;
    padding: 6px;
    border: solid 2px rgb(0, 0, 0);
}
#btndireitaSistema{
    position: absolute;
    top: 590px;
    padding: 4px;
    background-color: rgb(255, 255, 255);
    display: block;
    left: 690px;
    border: solid 4px rgb(255, 255, 255);
    opacity: 60%;
}
#btnesquerdaSistema{
    position: absolute;
    top: 591px;
    padding: 4px;
    background-color: rgb(255, 255, 255);
    z-index: 7;
    left: 10px;
    border: solid 4px rgb(255, 255, 255);
    opacity: 60%;
}
#conteudoPortifolio{
    position: absolute;
    left: 30px;
    top: 1880px;
    padding-right: 10px;
    padding-bottom: 750px;
    border: solid 2px black;


}

#conteudoProjetoGetPet{
    position: absolute;
    left: 30px;
    top: 3700px;
    padding-right: 10px;
    padding-bottom: 750px;
    border: solid 2px black;
}
#nomeProjetoGetPet{
    position: absolute;
    left: 40%;
    top: 30px;
    padding: 6px;
    border: solid 2px black;
    font-size: larger;   
}
#informaçoesProjetoGetPet{
    position: relative;

    width: 700px;
    height: 0px;
    font-size: larger;
    font-size: 20px;
    margin: 50px;
    line-height: 150%;
    top: 30px;
color:#333333;
}



#iconsCadastro{
    position: absolute;
    left:0px;
    top: 280px;
    opacity: 70%;
}
#cadastroimg , #calculadoraimg{
    position: absolute;
    top: 360px;
    opacity: 90%;
    padding: 6px;
    border: solid 2px black;

}
.videoCrud{
    position: relative;
    top: 150px;
    /* left: 20px; */
}
#Homeimg{
    position: absolute;
    top: 360px;
    opacity: 90%;
    padding: 6px;
    border: solid 2px rgb(0, 0, 0);
}
#usuariosimg{
    position: absolute;
    top: 360px;
    left: -12px;
    opacity: 90%;
    padding: 6px;
    border: solid 2px black;
    display: none;
}

#imgPortifolio2{
    display: none;
}
#loginimg{
position: absolute;
    top: 360px;
    left: -12px;
    opacity: 90%;
    padding: 6px;
    border: solid 2px black;
    display: none;
}
#btndireita{
    position: absolute;
    top: 590px;
    padding: 4px;
    background-color: rgb(255, 255, 255);
    display: block;
    left: 720px;
    border: solid 4px rgb(255, 255, 255);
    opacity: 60%;

}
#btndireitaPortifolio{
    position: absolute;
    top: 590px;
    padding: 4px;
    background-color: rgb(255, 255, 255);
    display: block;
    left: 700px;
    border: solid 4px rgb(255, 255, 255);
    opacity: 60%;
}
#btnesquerda{
    position: absolute;
    top: 591px;
    padding: 4px;
    background-color: rgb(255, 255, 255);
    z-index: 7;
    left: 63px;
    border: solid 4px rgb(255, 255, 255);
    opacity: 60%;
}
#btnesquerdaPortifolio{
    position: absolute;
    top: 591px;
    padding: 4px;
    background-color: rgb(255, 255, 255);
    z-index: 7;
    left: 63px;
    border: solid 4px rgb(255, 255, 255);
    opacity: 60%;
}



#setadireita{
    position: absolute;
    top: 590px;
    left: 760px;
}

#iconsGetPet{
    position: absolute;
    top: 230px;
}
#imgsCalculadora{
    position: absolute;
    top: -90px;
}
#imgsCadastro{
position: absolute;
top: 35px;
}
#imgsPortifolio{
    position: absolute;
    top: 20px;
}
#imcrud{
    position: absolute;
    width: 700px;
    top: 400px;
   
}

#informaçoesCalculadora{
    position: relative;

    width: 700px;
    height: 0px;
    font-size: larger;
    font-size: 20px;
    margin: 50px;
    line-height: 150%;
    top: 50px;
color:#333333;
}
#iconsCalculadora{
    position: absolute;
    top: 200px;
}
#informaçoesPortifolio{
    position: relative;

    width: 700px;
    height: 0px;
    font-size: larger;
    font-size: 20px;
    margin: 50px;
    line-height: 150%;
    top: 30px;
color:#333333;
}
#iconsPortifolio{
    position: absolute;
    top: 310px;
}

#Projetosimg{
    position: absolute;
    top: 360px;
    opacity: 90%;
    padding: 6px;
    border: solid 2px rgb(0, 0, 0);
    display: none;
}

@media (max-width:1530px){
#area__FrontEnd{
    position: absolute;
width: 450px;
left: -200px;
top: 10px;

}
@media(max-width:1400px){
    #projetos{
        position: absolute;
        left: -55px;
        width:350px;
    }
    .conteudoFrontEnd{
        position: absolute;
        left: -80px;
    }
}
#area__FrontEnd{
    position: relative;
        left: -310px;
}
#nome{
    position:absolute;
    left:280px ;
}
#fecharConteudoFrontEnd{
    position: absolute;
}


}
@media(max-width:1400px){
    #conteudoCadastro{
        left: 90px;
    }
}
@media (max-width:1300px){
    #projetos{
        left:-80px;
    }
}
@media (max-width:1900px){
    #projetos{
        position: relative;
        top: 60px;
    }
}
@media(max-width:1400px){
#area__FrontEnd{
position:relative;
left: -300px;
top: 25px;
width:250px ;
height: 20px;
}
#setaBaixo{
    position: absolute;
    left: 450px;
    top: -2px;
}
#nome{
    position: absolute;
    left: 10pc;
}
.conteudoFrontEnd,#conteudoCadastro,#conteudoCalculadora,#conteudoPortifolio,#conteudoProjetoSistemaERP{
    position: absolute;
    left: -10px;
    width: 600px;
}
#informaçoesCadastro,#informaçoesCalculadora,#informaçoesPortifolio{
    font-size: 15px;
    width: 500px;
}

#imgsCadastro,#imgcadastro,#imgCalculadora,#imgPortifolio1,#imgPortifolio2,#imgInicio,#imgPainel{
    width: 400px;
}
#btndireita,#btndireitaPortifolio{
    position: absolute;
    left: 420px;
}

}

@media(max-width:1400px){
    #informaçoesProjetoSistema{
font-size: 15px;
width: 500px;
    }
}
@media (max-width:999px){
    #area__FrontEnd{
        position: relative;
        left: -250px;
        width: 250px;
        
        /* width: -680px; */
        /* border: #ffffff; */
    }
  
    #informaçoesCadastro,#informaçoesCalculadora,#informaçoesPortifolio{
        font-size: 15px;
        width: 500px;
    }

    #projetos{
    position: absolute;
    top: 200px;
    left: -130px;
    width:400px;
        padding-right: 0px;

        
    }
}




@media(max-width:800px){

     #area__FrontEnd{
     width: 250px;
     top: -80px;

     
    }
    #projetos{
        position: absolute;
        top: 80px;
       left:-110px;
       width:190px;
       overflow: visible;
     
    }
    #setaBaixo
    {
        position: absolute;
        left: 330px;
        top: -10px;
    } 
   #conteudoCadastro,#conteudoCalculadora,#conteudoPortifolio,#conteudoProjetoSistemaERP,#conteudoProjetoGetPet{
    width: 400px;
   }
   #conteudoProjetoGetPet{
    left: -5px;
   }
   #nomeProjetoGetPet{
    left:40px;
   }
   #informaçoesCadastro,#informaçoesCalculadora,#informaçoesPortifolio,#informaçoesProjetoSistema,#informaçoesProjetoGetPet{
    width: 350px;
   }
   #imgcadastro,#imgusuario,#imglogin,#imgCalculadora,#imgPortifolio1,#imgPortifolio2,#imgInicio,#imgPainel,#imcrud{
    width: 300px;
    position: absolute;

   }
   #iconsCadastro,#iconsGetPet{
    position: absolute;
    top: 300px;
   }
   #iconsPortifolio{
   position: absolute;
   top: 600px;
   }
  #btndireita,#btndireitaPortifolio,#btndireitaSistema{
    left: 20pc;
  }
  #btnesquerdaSistema{
    left: 50px;
  }

  .conteudoFrontEnd{
    width: 100px;
  }

      

}

